.wrapper{
    display:grid;
    grid-template-rows: 150px min-content min-content 1fr;
    grid-template-columns: 2fr 5fr 2fr;
    min-height: 100vh;
}
h2{
    text-align:center;
    background-color:aliceblue;
    padding:12px;
    margin:0;
}
nav li{
    list-style-type:none;
    background-color:black;
    margin:1rem;
}
nav a{
    text-decoration:none;
    color:lightgray;
    padding:25px;
}
nav a:hover{
    color:palegoldenrod;
    background-color:black;
}
nav ul{
    display: flex;
    justify-content:center;
    background-color: black;
    padding:25px;
    margin:0;
    flex-wrap:wrap;
}
h1{
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
footer{
    text-align:center;
    background-color:black;
    color:white;
    padding:12px;
    position:absolute;
    bottom:0;
    width:100%;
}
