body {
        font-family: Arial, Helveticasans-serif;
        background-color:lightyellow
    }
    h1{
        color:navy;
        background-color:lightblue;
        padding: 1.5rem;
    }
    p{
        margin: 1.5rem;
    }
    img{
        float: right;
        border: 2px #ffffff solid; /** controls border width, color, line style **/
        margin: .65rem;
        max-width:100%;
    }
    h2{
        color:navy;
        background-color:lightblue;
        padding: 1.5rem;
    }