
body{
    margin:0;
    padding:0; 
    font-family:'robot', sans serif;
    background-color:black;
}
.container{
    display:grid;
    grid-template-rows:auto 1fr auto;
    min-height:100vh;
    font-family:'roboto', sans-serif
}

/*Heading and Paragraph Styling*/
.paragraph-heading{
    font-size:30px;
    color:#F5F5F5; 
    font-family:'roboto', sans-serif;
    font-weight:100;
}
.list-heading{
    font-size:20px;
    color:#F5F5F5; 
    font-family:'roboto', sans-serif;
    font-weight:100;
}
.main-content{
    font-size:16px;
    color:#F5F5F5;
    font-family:'roboto', sans-serif;
    font-weight:100;
    line-height:1.8;
}


/*Nav Bar*/
nav li{
    list-style-type:none;
    background-color:black;
    margin:0;  
}
nav a{
    text-decoration:none;
    color:#F5F5F5;
    padding:10px;
    display: inline-block;
    transition: transform 0.3s ease;
    border-radius:10px;
}
nav a:hover{
    /*background-color:rgba(128,128,128,0.6);*/
    transform:scale(1.2);
    font-weight:bold;
}
nav ul{
    display: flex;
    justify-content:flex-end;
    background-color: black;
    margin:0;
    padding:20px;
    gap:15px;
    flex-wrap:wrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
}

#hero-image{
   min-height:30%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;  
   background-attachment:fixed;
}

/*Cover Page Content*/
#coverpage{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr;
    margin:0;
    font-family: 'roboto', sans-serif;
    min-height:100%;
}
#whoiam{
    background-color:#1a1a1a;
    color:#F5F5F5;
    text-align:left;
    display:grid;
    align-content:right;
    grid-column-start:1;
    grid-column-end:2;
    padding:25px;
}
#coverimage{
    grid-column-start:2;
    grid-column-end:3;
    background-color:black;
    color:#f5f5f5;
}
#swirl{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

/*Footer*/
footer{
    text-align:center;
    background-color:black;
    padding:12px;
    width:100%;
    height:50px;
}
.button{
    background-color:lightgray;
    color:black;
    padding:15px;
    text-decoration:none;
    display:inline-block;
    border-radius:10px;
    transition: transform 0.3s ease;
    font-family:'roboto', sans-serif;
    font-weight:100;

}
.button:hover{
    background-color:#F5F5F5;
    transform:scale(1.2);
    font-weight:bold;
}
/* Resume Page Content*/
#name-education{
    padding:10rem;
    background-color:black;
    color:#F5F5F5;
}
#supplementals{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0;
    font-family: 'roboto', sans-serif;
    min-height:100%;
}
#skills{
    background-color:#1a1a1a;
    color:#F5F5F5;
    text-align:left;
    grid-column-start:1;
    grid-column-end:2;
    padding:10px;
}
#certifications{
    background-color:#1a1a1a;
    color:#F5F5F5;
    text-align:left;
    grid-column-start:2;
    grid-column-end:3;
    padding:10px; 
}
#coursework{
    grid-column-start:3;
    grid-column-end:4;
    padding:10px;
    background-color:#1a1a1a;
    color:#F5F5F5;
    text-align:left;
    display:grid;
    
}
#experience{
    display:grid;
    grid-template-rows:40px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin:0;
    font-family: 'roboto', sans-serif;
    min-height:100%;
    background-color:#1a1a1a; 
}
#experienceheading{
    font-size:30px;
    color:#F5F5F5; 
    font-family:'roboto', sans-serif;
    font-weight:100;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
}
#pr-director{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    padding:50px;
}
#intern{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
    padding:50px;
}
#pr-director-experience{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    font-size:16px;
    color:#F5F5F5;
    font-family:'roboto', sans-serif;
    font-weight:100;
    line-height:1.8;
    padding:50px;
}
#intern-experience{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:4;
    font-size:16px;
    color:#F5F5F5;
    font-family:'roboto', sans-serif;
    font-weight:100;
    line-height:1.8;
    padding:50px;
}

